//main config
$responsiveWide: 1050px;
$responsiveMedium: 900px;
$responsiveNarrow: 540px;

$dark: #121212;
$darkish: #151515;
$dark-grey: #333333;
$grey: #585858;
$light-grey: #A5A5A5;
$mainColor: wheat;

$citrus: #FFB298;
$sky: #E3F0FF;
$aqua: #98C9FF;

$wowFont: 'GTWalsheimBold', sans-serif;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$accentFont: 'Quicksand', sans-serif;

$standardBorderRadius: 8px;